.button {
  text-align: center;
  padding: 20px;
  color: #775ce5;
  border-radius: 12px;
  border: 1px solid #775ce5;
  background: #fff;
  width: 100%;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.button:disabled {
  background: #775ce5;
  color: #fff;
  opacity: 0.5;
}

.button:hover {
  background: #775ce5;
  color: #fff;
}

.button-logout {
  border-color: #f23152;
  color: #f23152;
}

.button-logout:hover {
  background: #f23152;
  color: #fff;
}
