.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 353px;
  margin-top: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(242, 136, 61, 0.1);
  color: #f2883d;
  padding: 16px;
  gap: 8px;
}

.user-warning {
  display: flex;
  gap: 8px;
}

.error-warning {
  padding: 16px;
  border-radius: 10px;
  color: #f23152;
  border: 1px solid #f23152;
  margin-top: 8px;
}

.link {
  color: #775ce5;
  text-align: center;
}
